<div *ngIf="result">
  <h2>Detail of {{result.id}}</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td>{{result.id}}</td>
      </tr>
      <tr>
        <th scope="row">valueA</th>
        <td>{{result.valueA}}</td>
      </tr>
      <tr>
        <th scope="row">valueB</th>
        <td>{{result.valueB}}</td>
      </tr>
      <tr>
        <th scope="row">valueC</th>
        <td>{{result.valueC}}</td>
      </tr>
      <tr>
        <th scope="row">valueD</th>
        <td>{{result.valueD}}</td>
      </tr>
    </tbody>
  </table>
</div>