<div *ngIf="result">
  <h1>Detail of {{result.id}}</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td>{{result.id}}</td>
      </tr>
      <tr>
        <th scope="row">valueA</th>
        <td>{{result.valueA}}</td>
      </tr>
      <tr>
        <th scope="row">valueB</th>
        <td>{{result.valueB}}</td>
      </tr>
      <tr>
        <th scope="row">valueC</th>
        <td>{{result.valueC}}</td>
      </tr>
      <tr>
        <th scope="row">valueD</th>
        <td>{{result.valueD}}</td>
      </tr>
    </tbody>
  </table>


  <div *ngIf="patient" >
    <h2>
      Patient
    </h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">svnr</th>
          <td>{{patient.svnr}}</td>
        </tr>
        <tr>
          <th scope="row">firstName</th>
          <td>{{patient.firstName}}</td>
        </tr>
        <tr>
          <th scope="row">lastName</th>
          <td>{{patient.lastName}}</td>
        </tr>
        <tr>
          <th scope="row">address</th>
          <td>{{patient.address}}</td>
        </tr>
        <tr>
          <th scope="row">tel</th>
          <td>{{patient.tel}}</td>
        </tr>
        <tr>
          <th scope="row">bloodGroup</th>
          <td>{{patient.bloodGroup}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>